*{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(222, 223, 222); */
    margin: 0;
    color: rgb(0, 48, 102);
 }
 .topstuff{
     display: flex;
     flex-direction: row;
     border: 20px solid rgb(0, 48, 102);
     background-color:rgb(0, 48, 102);
     margin: 0 auto;
    justify-content: space-between;
    
 
 }
 .headlinks{
     display: flex;
     justify-content: flex-end;
     color: rgb(142, 219, 213);
     border: 10px solid rgb(0, 48, 102);
     background-color:rgb(0, 48, 102);
     font-size: 20px;
     font-weight: bolder;
     text-decoration:underline  ;
    
 }

 .myname{
     background-color: rgb(142, 219, 213);
     color: rgb(0, 48, 102);
     font-size: 40px;
     display: flex;
     flex-direction: row-reverse;
     font-weight: bolder;
     width:360px;
     height: 80px;
     align-items: center;
     text-align: end;
 }
 
 .subheadbanner{
     padding: 85px;
     margin: 0 auto;
     text-align: end;
     background-color: antiquewhite;
     background-image: url('images/bluewave.jpg');
     background-size: 100% 100%;
    

 
 }
 
 .subheadbanner .coolsub{
     position: relative; top: 85px; left: 774px;
     font-weight: bold;
     color: rgb(0, 48, 102);
     background-color: rgb(142, 219, 213);
     border: 26px solid rgb(142, 219, 213);
     width: 530px;
    
 }
 
 .aboutmeinfo{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 
 .aboutwords{
     color: rgb(0, 48, 102);
     display: flex;
     font-weight:540;
     align-items: center;
     padding: 10px;
     border-left: 2px solid rgb(0, 48, 102);
 
 }
 .abouttitle{
     color: rgb(0, 48, 102);
     padding: 15px;
     font-size: 40px;
     font-weight: bolder;
     display: flex;
     width: 1200px;
     justify-content: flex-end;
     margin: 0px;
 }


.bigprojects{
    display: flex;
    flex-direction: row;
    
}


 .work{
    color: rgb(0, 48, 102);
     padding: 15px;
     font-size: 40px;
     font-weight: bolder;
     display: flex;
     width: 200px;
     justify-content: flex-end;
     margin: 0px;
     border-right: 2px solid rgb(0, 48, 102);
 }

 .bigproject{
    background-image: url('images/surf.jpg');
    background-size: 100% 100%;
    width: 1200px;
    height: 600px;
    border: 4px solid rgb(142, 219, 213);
    margin-left: 20px;
    margin-bottom: 0;

 }
 .bigproject:hover{
    filter: blur(0);
    border: blanchedalmond; box-shadow: 0 0 12px #333;
}

.smallprojects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 246px;
    margin-top: 0;
    border-left: 2px solid rgb(0, 48, 102);
}


 .ledwall{
     background-image: url('images/ledwall.jpg');
     background-size: 100% 100%;
     width:500px;
     height:200px;
     border: 4px solid rgb(142, 219, 213);
     padding: 10px;
     margin: 5px;
 }
 .ledwall:hover{
     filter: blur(0);
     border: blanchedalmond; box-shadow: 0 0 12px #333;
 }
 
 .calculator{
     background-image: url('images/calculator.jpg');
     background-size: 100% 100%;
     width:500px;
     height:200px;
     border: 4px solid rgb(142, 219, 213);
     padding: 10px;
     margin: 5px;
 }
 .calculator:hover{
    filter: blur(0);
    border: blanchedalmond; box-shadow: 0 0 12px #333;
}

 .pastelpuzzle{
     background-image: url('images/pastel.jpg');
     background-size: 100% 100%;
     width:500px;
     height:200px;
     border: 4px solid rgb(142, 219, 213);
     padding: 10px;
     margin: 5px;
 }
 .pastelpuzzle:hover{
    filter: blur(0);
    border: blanchedalmond; box-shadow: 0 0 12px #333;
}
 
 .runbuddy{
    background-image: url('images/runbuddy.jpg');
    background-size: 100% 100%;
    width:500px;
    height:200px;
    border: 4px solid rgb(142, 219, 213);
    padding: 10px;
    margin: 5px;
 }
 
 .runbuddy:hover{
    filter: blur(0);
    border: blanchedalmond; box-shadow: 0 0 12px #333;
}
 
 
 
 



 .bigproject .bigptext{
    background-color: rgb(142, 219, 213);
    font-weight: bold;
    font-size: 30px;
    background: rgb(142, 219, 213);
 }
 .bigptext2{
    background-color: rgb(142, 219, 213);
    font-size: 18px;
 }

 .smallptext{
    background-color: rgb(142, 219, 213);
    font-weight: bold;
    font-size: 30px;
}
.smallptext2{
    background-color: rgb(142, 219, 213);
    font-size: 16px;
}












.footer{
    display: flex;
    flex-direction: row;
}

.contactme{
    display: flex;
    padding: 15px;
    font-size: 40px;
    font-weight: bolder;
    width: 216px;
    align-content: center;
    justify-content: flex-end;

}

.footerlinks1{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 10px;
    border-left: 2px solid rgb(0, 48, 102);
}

.footerlinks{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    margin: 5px;

}
.footerlinks:hover{
    background-color:rgb(142, 219, 213);
}
.footerlinks1:hover{
    background-color:rgb(142, 219, 213);
}










